In [94]:
import pandas as pd
import re

In [95]:
# Define the file name for processing data
file="Supersided.txt"

In [96]:
# Open the file for reading and read its contents into a list of lines
with open(file,'r',encoding='utf-8') as input_file:
    lines=input_file.readlines()

In [98]:
# Filter lines by removing leading and trailing whitespaces,as well as replace single spaces with no spacessingle and selecting lines containing "Item:", "No", or "Yes"
filtered_lines=[re.sub(r'(?<=\S) (?=\S)', '', line.lstrip().rstrip()) for line in lines if "Item: " in line or "No" in line or "Yes" in line]

In [99]:
# Split the filtered lines into segments based on spaces
splited_filtered_lines=[segment.split() for segment in filtered_lines]

In [100]:
splited_filtered_lines[0]

['Item:69501',
 'Description:VALVE&DISCASM,',
 'R-6-50',
 'UOI:',
 'Category:150.199.M&EESPAREOTHER.26300']

In [101]:
# Create a new list with inner lists containing the first elements from split segments
nested_list=[[inner_list[0]] for inner_list in splited_filtered_lines]

In [102]:
nested_list[0:10]

[['Item:69501'],
 ['79770'],
 ['Item:69748'],
 ['79611'],
 ['Item:6BQP87/3'],
 ['4101852'],
 ['Item:6BQPUG/1'],
 ['4066079'],
 ['Item:6C060-99410'],
 ['8608940']]

In [103]:
# create a list where after each values with "Item:" comes value without "Item:".  
result = []
# Initialize a variable to keep track of the current 'Item:...' element
current_item = None

for sublist in nested_list:
    for item in sublist:
        
        if item.startswith('Item:'):
            current_item = item
        else:
            result.append(current_item)
            result.append(item)
print(result[0:10])

['Item:69501', '79770', 'Item:69748', '79611', 'Item:6BQP87/3', '4101852', 'Item:6BQPUG/1', '4066079', 'Item:6C060-99410', '8608940']

In [104]:
# creating dataframe
df2=pd.DataFrame({'SupersidedCode':result[0::2],'ActualCode':result[1::2]})

In [105]:
# remove "Item:" from the value
df2['SupersidedCode']=df2['SupersidedCode'].str[5:]

In [115]:
df2.head(5)

  SupersidedCode ActualCode
0          69501      79770
1          69748      79611
2       6BQP87/3    4101852
3       6BQPUG/1    4066079
4    6C060-99410    8608940

In [107]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62152 entries, 0 to 62151
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SupersidedCode  62152 non-null  object
 1   ActualCode      62152 non-null  object
dtypes: object(2)
memory usage: 971.3+ KB

In [114]:
# remove duplicated rows
df_no_duplicates=df2.drop_duplicates(subset=['SupersidedCode','ActualCode'])

In [111]:
df_no_duplicates.head()

  SupersidedCode ActualCode
0          69501      79770
1          69748      79611
2       6BQP87/3    4101852
3       6BQPUG/1    4066079
4    6C060-99410    8608940

In [112]:
df_no_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8512 entries, 0 to 9902
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SupersidedCode  8512 non-null   object
 1   ActualCode      8512 non-null   object
dtypes: object(2)
memory usage: 199.5+ KB

In [113]:
# saving in csv file
df_no_duplicates.to_csv('BLY_SUBS_2_columns.csv')